.section {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  width: 50vw;
  min-height: 100vh;
  font-size: 1.25em;
  font-family: monospace;
}

.output {
  float: right;
  background-color: #333333;
  color: #fdfdfd;
}
